{% load static %}
<div class="sidebar-area" id="sidebar-area">
    <div class="logo position-relative">
        <a href="{% url 'dashboard:home' %}" class="d-block text-decoration-none position-relative">
            {% if active_theme and active_theme.logo %}
            <img src="{{ active_theme.logo.url }}" alt="logo-icon">
            {% else %}
            <img src="{% static 'assets/images/logo-icon.png' %}" alt="logo-icon">
            {% endif %}
            <span class="logo-text fw-bold text-dark">{{ active_theme.name|default:"Lavandería" }}</span>
        </a>
    </div>


    <aside id="layout-menu" class="layout-menu menu-vertical menu active" data-simplebar>
        <ul class="menu-inner">

            <!-- ================================== -->
            <!-- 🏠 PRINCIPAL -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Principal</span>
            </li>
            <li class="menu-item {% if request.resolver_match.app_name == 'dashboard' %}active{% endif %}">
                <a href="{% url 'dashboard:home' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">dashboard</span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 🧺 CATÁLOGO -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Catálogo</span>
            </li>
            <li class="menu-item {% if request.resolver_match.app_name == 'catalog' %}active{% endif %}">
                <a href="{% url 'catalog:list' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">local_laundry_service</span>
                    <span class="title">Servicios</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 👥 CLIENTES -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Clientes</span>
            </li>
            <li class="menu-item {% if request.resolver_match.app_name == 'customers' %}active{% endif %}">
                <a href="{% url 'customers:list' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">group</span>
                    <span class="title">Clientes</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 📦 OPERACIONES / ÓRDENES -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Operaciones</span>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'orders' and request.resolver_match.url_name == 'list' %}active{% endif %}">
                <a href="{% url 'orders:list' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">assignment</span>
                    <span class="title">Órdenes</span>
                </a>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'orders' and request.resolver_match.url_name == 'add' %}active{% endif %}">
                <a href="{% url 'orders:add' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">add_task</span>
                    <span class="title">Nueva Orden</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'pending' %}active{% endif %}">
                <a href="{% url 'orders:pending' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">hourglass_empty</span>
                    <span class="title">Pendientes</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'ready' %}active{% endif %}">
                <a href="{% url 'orders:ready' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">done_all</span>
                    <span class="title">Listas para Entrega</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'workflow' %}active{% endif %}">
                <a href="{% url 'orders:workflow' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">device_hub</span>
                    <span class="title">Flujo de Órdenes</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 🧴 INVENTARIO -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Inventario</span>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'inventory' and request.resolver_match.url_name == 'list' %}active{% endif %}">
                <a href="{% url 'inventory:list' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">inventory_2</span>
                    <span class="title">Insumos</span>
                </a>
            </li>

            <li
                class="menu-item {% if request.resolver_match.url_name == 'movements' and request.resolver_match.app_name == 'inventory' %}active{% endif %}">
                <a href="{% url 'inventory:movements' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">sync_alt</span>
                    <span class="title">Movimientos</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 💰 FINANZAS -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Finanzas</span>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'cash' and request.resolver_match.url_name == 'list' %}active{% endif %}">
                <a href="{% url 'cash:list' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">point_of_sale</span>
                    <span class="title">Cajas</span>
                </a>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'cash' and request.resolver_match.url_name == 'movements' %}active{% endif %}">
                <a href="{% url 'cash:movements' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">payments</span>
                    <span class="title">Movimientos</span>
                </a>
            </li>

            <li
                class="menu-item {% if request.resolver_match.app_name == 'cash' and request.resolver_match.url_name == 'movement_new' %}active{% endif %}">
                <a href="{% url 'cash:movement_new' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">add_card</span>
                    <span class="title">Registrar Movimiento</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- 📊 REPORTES -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Reportes</span>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'orders_report' %}active{% endif %}">
                <a href="{% url 'reports:orders_report' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">bar_chart_4_bars</span>
                    <span class="title">Órdenes</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'inventory_report' %}active{% endif %}">
                <a href="{% url 'reports:inventory_report' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">analytics</span>
                    <span class="title">Inventario</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'financial_report' %}active{% endif %}">
                <a href="{% url 'reports:financial_report' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">insights</span>
                    <span class="title">Financieros</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'customers_report' %}active{% endif %}">
                <a href="{% url 'reports:customers_report' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">group_add</span>
                    <span class="title">Clientes</span>
                </a>
            </li>

            <li class="menu-item {% if request.resolver_match.url_name == 'services_report' %}active{% endif %}">
                <a href="{% url 'reports:services_report' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">stacked_bar_chart</span>
                    <span class="title">Servicios</span>
                </a>
            </li>

            <!-- ================================== -->
            <!-- ⚙️ CONFIGURACIÓN -->
            <!-- ================================== -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">Configuración</span>
            </li>
            <li class="menu-item">
                <a href="/admin/" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">settings</span>
                    <span class="title">Panel de Administración</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'accounts:logout' %}" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">logout</span>
                    <span class="title">Cerrar Sesión</span>
                </a>
            </li>

        </ul>
    </aside>
</div>