{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - Lavandería</title>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="boxed-size">

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
